<div class="container">
    <div class="logo">
        <img src="../../../assets/logistics (3)-Photoroom.png-Photoroom.png" alt="" width="150" routerLink="/">
    </div>
    <div class="register">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="form-container">
            <!-- Display error message when msgVisible is true -->
            <div data-cy="IncorrectPw" *ngIf="msgVisible" class="error-message">
                {{ errorMsg }}
            </div>
    
            <!-- Display success message when msgVisible2 is true -->
            <div *ngIf="msgVisible2" class="success-message">
                {{ successMsg }}
            </div>
            <div class="form-group">
                <label>First name*</label> <br>
                <input type="text" data-cy="fname-input" formControlName="firstName" class="form-input" placeholder="John"/>
                <div *ngIf=" registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched " class="error-message"> first name required  </div>
            </div>
            <div class="form-group">
                <label>Last name*</label> <br>
                <input type="text" data-cy="lname-input" formControlName="lastName" class="form-input"  placeholder="Doe"/>
                <div *ngIf=" registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error-message">last name required </div>
            </div>
            <div class="form-group">
                <label>Email*</label> <br>
                <input data-cy="email-input" type="email" formControlName="email" class="form-input" placeholder="example@mail.com"/>
                <div *ngIf=" registerForm.get('email')?.invalid && registerForm.get('email')?.touched && !registerForm.get('email')?.dirty" class="error-message">Email is required </div>
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched && registerForm.get('email')?.dirty" class="error-message">Invalid email format</div>

            </div>
            <div class="form-group">
                <label>Phone Number*</label> <br>
                <input data-cy="phone-input" type="text" formControlName="phoneNumber" class="form-input" placeholder="+25470000000"/>
                <div *ngIf=" registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched && !registerForm.get('phoneNumber')?.dirty"  class="error-message">Phone number is required </div>
                <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.dirty" class="error-message">Invalid phone number</div>

            </div>
            <div class="form-group">
                <input data-cy="role" type="hidden" value="role" formControlName = "role" style="height: 5px;">
            </div>
            <div class="form-group">
                <label>Password*</label> <br>
                <input data-cy="password-input" type="password" formControlName="password" class="form-input" placeholder="*********"/>
                <div *ngIf=" registerForm.get('password')?.invalid && registerForm.get('password')?.touched && !registerForm.get('password')?.dirty" class="error-message">Password is required</div>
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched && registerForm.get('password')?.dirty" class="error-message">Password must be 8-30 characters and include a special character</div>

            </div>
            <div class="form-group" id="reg-btn-section">
                    <button  data-cy="create-account-link" type="submit" [disabled]="registerForm.invalid" class="form-submit">Create Account </button>
                <div class="form-link">
                    <p>Already have an account?<span routerLink="/login" routerLinkActive="active" style="color: #42B1E1;">Sign In</span></p>
                </div>
            </div>
        </form>
    </div>

</div>
<app-footer></app-footer>