<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th> <h2>Welcome to StriveCraft, <%=customerName%></h2></th>
        </tr>
        <tr>
            <td>
                <p>Hi <%=customerName%>,</p><br>
                <p><img src="https://images.pexels.com/photos/5668859/pexels-photo-5668859.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width = 600px></p>
                <p>
                    Welcome to LogiPro! We are thrilled to have you join our logistics community. Get ready to embark on a journey of seamless shipping, efficient transportation, and unparalleled support.<br><br>

                    At LogiPro, we understand that every shipment is unique, and every delivery is crucial. Whether you are a seasoned logistics professional or just starting, we are here to streamline your operations and exceed your expectations.<br><br>

                    
                    Here's what you can expect as a valued member of our platform:<br><br>
                                1.Effortless Shipping: Our user-friendly platform makes it easy to book, track, and manage your shipments from start to finish. Say goodbye to complexities and hello to simplicity!<br>
                                2.Reliable Transportation: We partner with trusted carriers to ensure that your goods reach their destination safely and on time. Rest assured, your shipments are in good hands.<br>
                                3.Exceptional Support: Have questions or need assistance? Our dedicated support team is available around the clock to provide personalized assistance and resolve any issues promptly.<br>
                                4.Insightful Analytics: Gain valuable insights into your shipping patterns and optimize your logistics strategy for maximum efficiency and cost savings.<br><br>
                    
                                To kickstart your journey with us, we recommend exploring our platform and familiarizing yourself with its features. Don't hesitate to reach out if you need any assistance along the way—we're here to help!<br><br>
                    
                                We're excited to partner with you and help you navigate the world of logistics with ease.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>