<div class="mainContainer">
    <app-navbar></app-navbar>
    <div class="hero">
        <h2 id="topDesc">Logistics Redefined: Seamless Solutions, Unrivaled Service </h2>
        <div class="servicesDiv">
            <div class="service">
                <i class="fa-solid fa-money-check-dollar"></i>
                <p style="font-size: 16px;">SHIPPING RATE</p>
                <p style="font-size: 14px;">Find out how much it would cost to ship to a place</p>
                <a>Learn More...</a>
            </div>
            <div class="service">
                <i class="fa-solid fa-location-dot"></i>
                <p style="font-size: 16px;">TRACK YOUR PACKAGE</p>
                <p style="font-size: 14px;">Stay informed to know how far your parcel is</p>
                <a>Learn More...</a>
            </div>
            <div class="service">
                <i class="fa-solid fa-globe"></i>
                <p style="font-size: 16px;">LOCATIONS</p>
                <p style="font-size: 14px;">Get to see the places that you can easily ship to or from</p>
                <a>Learn More...</a>
            </div>

        </div>  
        <div class="searchDiv">
            <input type="search" placeholder="Tracking Id" id="searchField">
            <span>TRACK</span>
        </div>      
    </div>
    <div class="businessDesc">
        <div class="businessPkgDiv">
            <h3>Logipro for Your Business</h3>
            <p>Rely on our trustworthy logistics solutions for consistent, on-time deliveries that keep your business running smoothly.  <br>
                Let us optimize your supply chain to ensure customer satisfaction and drive your success.
            </p>
            <button>Explore our Business Solutions</button>
        </div>            
    </div>



</div>
<app-footer></app-footer>