<div class="mainContainer">
    <app-navbar></app-navbar>
    <div class="hero">
        <h2 id="topDesc">Logistics Redefined: Seamless Solutions, Unrivaled Service </h2>
        <div class="servicesDiv">
            <div class="service">
                <i class="fa-solid fa-money-check-dollar"></i>
                <p style="font-size: 16px;">SHIPPING RATE</p>
                <!-- <p style="font-size: 16px;">Find out how much it would cost to ship to a place</p> -->
                <a>Learn More...</a>
            </div>
            <div class="service">
                <i class="fa-solid fa-location-dot"></i>
                <p style="font-size: 16px;">TRACK YOUR PACKAGE</p>
                <!-- <p style="font-size: 16px;">Stay informed to know how far your parcel is</p> -->
                <a>Learn More...</a>
            </div>
            <div class="service">
                <i class="fa-solid fa-globe"></i>
                <p style="font-size: 16px;">LOCATIONS</p>
                <!-- <p style="font-size: 16px;">Get to see the places that you can easily ship to or from</p> -->
                <a>Learn More...</a>
            </div>

        </div>  
        <div class="searchDiv">
            <input type="search" placeholder="Tracking Id" id="searchField">
            <span>TRACK</span>
        </div>      
    </div>
    <div class="businessDesc">
        <div class="businessPkgDiv">
            <h2>Logipro for Your Business</h2>
            <p>Rely on our trustworthy logistics solutions for consistent, on-time deliveries that keep your business running smoothly.  <br>
                Let us optimize your supply chain to ensure customer satisfaction and drive your success.
            </p>
            <button>Explore our Business Solutions</button>
        </div>            
    </div>

    <div class="returns">
        <h3>Manage Your Shipments and Returns</h3>
        <div class="options">
            <div class="redirect">
                <i class="fa-solid fa-truck-fast"></i>
                <p>Redirect a package</p>
            </div>
            <div class="return">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                <p>Return a Package</p>
            </div>
        </div>
    </div>

    <div class="infoCardsDiv">
        <div class="infoCard">
            <h3>Drop off Packages</h3>
            <p>On the go? Easily handle your shipments
                by dropping them off at a convenient retail 
               spot in your area.
            </p>
            <button>Sign Up</button>
        </div>
        <div class="infoCard">
            <h3>Track Your Package</h3>
            <p>On the go? Easily handle your shipments
                by dropping them off at a convenient retail 
               spot in your area.
            </p>
            <button>Sign Up</button>
        </div>
        <div class="infoCard">
            <h3>Regulatory Updates</h3>
            <p>On the go? Easily handle your shipments
                by dropping them off at a convenient retail 
               spot in your area.
            </p>
            <button>Updates</button>
        </div>
    </div>
    <div class="subscribe">
        <div class="sh4">
            <h4>Subscribe For Latest</h4>
            <h4>Newsletter</h4>
        </div>
        <div class="input">
            <input type="email" placeholder="Your Email">
            <button>Subscribe</button>
        </div>
    </div>
</div>
<app-footer></app-footer>