<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h4>About Us</h4>
        <ul>
          <li>Our Company</li>
          <li>Our Coffee</li>
          <li>Stories and News</li>
          <li>Starbucks Archive</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Customer Service</h4>
        <ul>
          <li>Contact Us</li>
          <li>Careers</li>
          <li>Culture and Values</li>
          <li>Inclusion, Diversity, and Equity</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Social Impact</h4>
        <ul>
          <li>People</li>
          <li>Planet</li>
          <li>Environmental and Social Impact Reporting</li>
          <li>For Business Partners</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Order and Pick Up</h4>
        <ul>
          <li>Order on the App</li>
          <li>Order on the Web</li>
          <li>Delivery</li>
          <li>Order and Pick Up Options</li>
          <!-- <li>Explore and Find Coffee for Home</li> -->
        </ul>
      </div>
    </div>
    <div class="icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-spotify"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-x-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="terms">
        <span>© 2010 — 2024 Privacy — Terms</span>
    </div>
    <script
      src="https://kit.fontawesome.com/77adb907ec.js"
      crossorigin="anonymous"
    ></script>

  </footer>
  