<div class="resetContainer">
    <div class="resetDiv">
      <!-- Reset password starts here -->
      <form (ngSubmit)="resetPassword(resetForm.value)" #resetForm="ngForm">
        <div *ngIf="visible" class="errorDiv" style="color: red; text-align: center;">{{errorMsg}}</div>   
        <div *ngIf="visible2" class="successMsg">{{successMsg}}</div>
        <h2>Password Reset</h2>
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" ngModel required />

          <label for="phoneNumber">Phone Number:</label>
          <input type="text" name="phoneNumber" id="phoneNumber" ngModel required />
       
          <label for="password">New Password:</label>
          <input type="password" name="password" id="password" ngModel required/>
       
          <button type="submit">Reset Password</button>
        </div>
        <p style="cursor: pointer;" routerLink="/login">Back to Login</p>
      </form>
    </div>
  </div>
  <app-footer></app-footer>

