<div class="navContainer">
    <div class="navigation">
        <img src="../../../assets/logistics (3)-Photoroom.png-Photoroom.png" alt="" width="100">
        <div class="links">
            <span>Shipping <i class="fa-solid fa-chevron-down"></i></span>
            <span>Tracking <i class="fa-solid fa-chevron-down"></i></span>
            <span>Support <i class="fa-solid fa-chevron-down"></i></span>
            <span><i style="font-size: 16px; padding-right: 8px;" class="fa-solid fa-circle-user"></i>Account</span>
            <button>Sign Up</button>
        </div>
    </div>
</div>