<div class="navContainer">
    <div class="navigation">
        <img src="../../../assets/logipro-high-resolution-logo-transparent.png" alt="" width="60">
        <div class="links">
            <span>Shipping <i class="fa-solid fa-chevron-down"></i></span>
            <span>Tracking <i class="fa-solid fa-chevron-down"></i></span>
            <span>Support <i class="fa-solid fa-chevron-down"></i></span>
            <span>Account <i style="font-size: 20px; padding-left: 5px;" class="fa-solid fa-circle-user"></i></span>
            <button>Sign Up</button>
        </div>
    </div>
</div>